header{
  display: flex;
  background-color: gray;
  height: 55px;
  top: 0;
  width: 95%;
  margin: auto;
}
#cabecalho{
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: auto;
}
#nav1{
  background-color: gray;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}
#nav2{
  background-color: gray;
  height: 60vh;
  position: relative;
  left: 5%;
  width: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
  border-radius: 100%;
  width: 50px;
  background-color: gray;
  height: 50px;
  position: fixed;
  top: 20;
  left: 5%;
  z-index: 1;
}
footer{
  display: flex;
  background-color: gray;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 90%;
  left: 5%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}